/* header and nav layout */
header .nav-wrapper {
 background-color: var(--background-color);
    width: 100%;
    z-index: 999;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
   min-height: 89px;
   overflow: visible;
   padding: 14px 32px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-xs);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
   padding-bottom: 10px;
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
  }

  header nav .nav-sections ul:first-child .nav-drop .icon-location::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: #006ba6;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    vertical-align: top;
    width: 8px;
    top: 5px;
    right:1px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);

  }

   header nav .nav-sections ul:first-child .nav-drop .icon-location img{
    left:18px;
    margin-left:8px
   }

  header nav .nav-sections  ul:first-child .nav-drop[aria-expanded='true'] .icon-location::before {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 40px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: #0078b3;
    color: #fff;
    white-space: initial;
   z-index: 9;
  }

 header nav .nav-sections .default-content-wrapper > ul:first-child > li[aria-expanded='true'] > ul {
  background-color: #fff;
  color: var(--text-color);
 }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(0, 120, 179);
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 0.4s;
}

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}


header nav .top-navigation .default-content-wrapper{
float: right;    
}
header nav .top-navigation .default-content-wrapper > ul:last-child{
justify-content: flex-end;
}
header nav .top-navigation .default-content-wrapper > ul:last-child   li {
font-weight: 600;  
 font-size: 1.125rem; 
 
}

header nav .top-navigation .default-content-wrapper > ul:last-child  > li[aria-expanded='true'] > ul  a:any-link {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1.22222;
    letter-spacing: 0;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 1.25rem; 
}
header nav .top-navigation .default-content-wrapper > ul:first-child  a:any-link, li {
font-size: 14px; 
}

header nav .top-navigation .default-content-wrapper > ul:first-child  li img {
top: 3px;
 left: 3px;
position: relative;
}

header nav .top-navigation .default-content-wrapper > ul:first-child li  {
margin-top: 8px;
}


header nav .nav-brand .icon-logo img {
    width: 402px;
}

 header nav .top-navigation li a:any-link, li {
  text-decoration: none
 }

header nav .top-navigation li:hover:after, .li:focus:after, .li:active:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
 header nav .top-navigation  li:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -6px;
        left: 0;
        background-color: #0078b3;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .4s ease transform;
        transition: .4s ease transform;
  
}

 header nav  .icon{
    height: 16px;
    width: 16px;
 }



